<header>
  <div class="wrapper">
    <div class="span12">
      <app-header></app-header>
    </div>
  </div>
</header>
<main>
  <section id="search">
    <div class="wrapper padbot-sm">
      <div class="span12">
        <app-search></app-search>
      </div>
    </div>
  </section>
  <section id="todos">
    <div class="wrapper padbot-sm">
      <div class="span12">
        <p>First step connect to BandsInTown API</p>
        <p>Then, create search query for events</p>
        <p>Next, you can add remove events you want to go to</p>
        <p>Then, connect to database to make CRUD operations</p>
      </div>
    </div>
  </section>
</main>
<footer>[FOOTER]</footer>
<router-outlet></router-outlet>